#alien1, #alien2, #alien3, #alien4{
height: 250px;
width: 250px;
}

body{
    background-color: #ed8761;
}

h1{
    font-family: 'Julius Sans One', sans-serif;
    color: rgb(40, 54, 12);
}

h2{
    font-family: 'Lora', serif;
color: rgb(40, 54, 12);
}

footer{
    position: fixed;
    background-color: rgb(255, 255, 255);
    font-weight: 900px;
    font-family: 'Julius Sans One', sans-serif;
    bottom: 0;
    width: 100%;
    color: rgb(40, 54, 12);
    line-height: 1;
    letter-spacing: 10px;
    font-size: 15px;
    text-shadow:6px 6px 6px  rgb(32, 76, 28);
}